.bg-shape-about {
  background: url('../../assets/images/f1.jpg') #f9fafc;
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: scroll;
  background-size: cover;
  -webkit-animation: fadeinleft 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinleft 3s; /* Firefox < 16 */
   -ms-animation: fadeinleft 3s; /* Internet Explorer */
    -o-animation: fadeinleft 3s; /* Opera < 12.1 */
       animation: fadeinleft 3s;

}
